$primary: #D79922;
$secondary: #4056A1;
$danger: #F13C20;
$light: #EFE2BA;
$light-secondary: #C5CBE3;
$lighter-gray: #F5F5F5;
$bg-color: #f1f1f1;
$input-border-color: #ced4da;

$min-width-m: 100px;

$width-s: 110px;
$width-m: 115px;
$width-l: 180px;

$height-xs: 30px;
$height-s: 40px;
$height-m: 50px;
$height-l: 70px;

$margin-m: 20px;
$margin-l: 45px;

$border-xs: 1px;
$border-s: 2px;
$border-m: 3px;

$border-radius: 5px;

$border-light-secondary-s: $border-s solid $light-secondary;
$border-light-secondary-m: $border-m solid $light-secondary;

$fa-icon-size: 18px;
$fa-icon-size-l: 30px;

$checkbox-size: 25px;

$z-index-s: 0;
$z-index-m: 5;
$z-index-l: 6;

